In [7]:
# install mysql-connector-python
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/joldon/Library/Python/3.9/lib/python/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/joldon/Library/Python/3.9/lib/python/site-packages (from mysql-connector-python) (4.21.12)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

CONFIGURE DATABASE

In [8]:
# database password from config.py
from config import db_password

In [9]:
# import mysql connector
import mysql.connector as connector
# connect MySQL with Python
connection = connector.connect(user='root', password=db_password)

In [10]:
# create a cursor
cursor = connection.cursor()

In [11]:
# execute a cursor to create a database
cursor.execute('CREATE DATABASE IF NOT EXISTS little_lemon_db')

In [12]:
# use the database
cursor.execute('USE little_lemon_db')

CREATE TABLES

In [13]:
# create tables
create_menu_item_table = '''
CREATE TABLE MenuItems (
ItemID INT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);
'''

In [17]:
create_menu_table = '''CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);
'''

In [75]:
create_booking_table = ''' CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);
'''

In [26]:
create_orders_table = ''' CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quality INT,
PRIMARY KEY (OrderID, TableNo)
);'''

In [83]:
# correcting name of a column
alter_orders_table = ''' ALTER TABLE Orders CHANGE COLUMN Quality Quantity INT;'''

In [84]:
cursor.execute(alter_orders_table)

In [28]:
create_employees_table = ''' CREATE TABLE Employees (
EmployeesID INT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);'''

In [ ]:
# Create MenuItems table
cursor.execute(create_menu_item_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [55]:
# show menu_items table and its properties
cursor.execute('DESCRIBE MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

('ItemID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Name', 'varchar(200)', 'YES', '', None, '')
('Type', 'varchar(100)', 'YES', '', None, '')
('Price', 'int', 'YES', '', None, '')

In [56]:
# truncate the table to fix the duplicate primary key error
# truncate_menu_item_table = ''' TRUNCATE TABLE MenuItems;'''

In [57]:
# cursor.execute(truncate_menu_item_table)

POPULATE TABLES

In [58]:
# insert data into MenuItems table
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [59]:
# Populate MenuItems table
cursor.execute(insert_menuitems)

In [60]:
# commit the change to the database 
connection.commit()

In [61]:
# show menu_items table and its properties
cursor.execute('DESCRIBE MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

('ItemID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Name', 'varchar(200)', 'YES', '', None, '')
('Type', 'varchar(100)', 'YES', '', None, '')
('Price', 'int', 'YES', '', None, '')

In [62]:
# select all data from MenuItems table
cursor.execute('SELECT * FROM MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(6, 'Hummus', 'Starters', 5)
(7, 'Greek salad', 'Main Courses', 15)
(8, 'Bean soup', 'Main Courses', 12)
(9, 'Pizza', 'Main Courses', 15)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(12, 'Cheesecake', 'Desserts', 4)
(13, 'Athens White wine', 'Drinks', 25)
(14, 'Corfu Red Wine', 'Drinks', 30)
(15, 'Turkish Coffee', 'Drinks', 10)
(16, 'Turkish Coffee', 'Drinks', 10)
(17, 'Kabasa', 'Main Courses', 17)

In [65]:
# insert data into Menu table
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [66]:
# execute insertion
cursor.execute(insert_menu)

In [67]:
connection.commit()

In [68]:
# check the data in the table
cursor.execute('SELECT * FROM Menus')
results = cursor.fetchall()
for result in results:
    print(result)

(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [77]:
# insert data into Bookings table
insert_bookings = """
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [78]:
# execute insertion
cursor.execute(insert_bookings)

In [79]:
# check the data in the table
cursor.execute('SELECT * FROM Bookings')
results = cursor.fetchall()
for result in results:
    print(result)

(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [80]:
# commit the change to the database
connection.commit()

In [85]:
# insert data into Orders table
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [86]:
cursor.execute(insert_orders)

In [87]:
# check the data in the table
cursor.execute('SELECT * FROM Orders')
results = cursor.fetchall()
for result in results:
    print(result)

(1, 12, 1, 1, 86, 2)
(2, 19, 2, 2, 37, 1)
(3, 15, 2, 3, 37, 1)
(4, 5, 3, 4, 40, 1)
(5, 8, 1, 5, 43, 1)

In [88]:
# commit the change to the database
connection.commit()