In [3]:
# install mysql-connector-python
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp39-cp39-macosx_12_0_arm64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 2.3 MB/s eta 0:00:01
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp37-abi3-macosx_10_9_universal2.whl (486 kB)
     |████████████████████████████████| 486 kB 53.5 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# database password from config.py
from config import db_password

In [12]:
# import mysql connector
import mysql.connector as connector
# connect MySQL with Python
connection = connector.connect(user='root', password='db_password')

In [13]:
# create a cursor
cursor = connection.cursor()

In [14]:
# execute a cursor to create a database
cursor.execute('CREATE DATABASE IF NOT EXISTS little_lemon_db')

In [15]:
# use the database
cursor.execute('USE little_lemon_db')

In [16]:
# create tables
create_menu_item_table = '''
CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100);
Price INT,
PRIMARY KEY (ItemID)
);
'''

In [17]:
create_menu_table = '''CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);
'''

In [18]:
create_booking_table = ''' CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);
'''

In [19]:
create_orders_table = ''' CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quality INT,
PRIMARY KEY (OrderID, TableNo)
);'''

In [20]:
create_employees_table = ''' CREATE TABLE Employees (
EmployeesID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);'''