In [7]:
# install mysql-connector-python
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/joldon/Library/Python/3.9/lib/python/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/joldon/Library/Python/3.9/lib/python/site-packages (from mysql-connector-python) (4.21.12)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
# database password from config.py
from config import db_password

In [9]:
# import mysql connector
import mysql.connector as connector
# connect MySQL with Python
connection = connector.connect(user='root', password=db_password)

In [10]:
# create a cursor
cursor = connection.cursor()

In [11]:
# execute a cursor to create a database
cursor.execute('CREATE DATABASE IF NOT EXISTS little_lemon_db')

In [12]:
# use the database
cursor.execute('USE little_lemon_db')

In [13]:
# create tables
create_menu_item_table = '''
CREATE TABLE MenuItems (
ItemID INT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);
'''

In [17]:
create_menu_table = '''CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);
'''

In [20]:
create_booking_table = ''' CREATE TABLE Bookings (
BookingID INT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);
'''

In [63]:
alter_booking_table = ''' ALTER TABLE Bookings MODIFY BookingID INT AUTO_INCREMENT;'''

In [64]:
cursor.execute(alter_booking_table)

In [26]:
create_orders_table = ''' CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quality INT,
PRIMARY KEY (OrderID, TableNo)
);'''

In [28]:
create_employees_table = ''' CREATE TABLE Employees (
EmployeesID INT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);'''

In [ ]:
# Create MenuItems table
cursor.execute(create_menu_item_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [55]:
# show menu_items table and its properties
cursor.execute('DESCRIBE MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

('ItemID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Name', 'varchar(200)', 'YES', '', None, '')
('Type', 'varchar(100)', 'YES', '', None, '')
('Price', 'int', 'YES', '', None, '')

In [56]:
# truncate the table to fix the duplicate primary key error
# truncate_menu_item_table = ''' TRUNCATE TABLE MenuItems;'''

In [57]:
# cursor.execute(truncate_menu_item_table)

In [58]:
# insert data into MenuItems table
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [59]:
# Populate MenuItems table
cursor.execute(insert_menuitems)

In [60]:
# commit the change to the database 
connection.commit()

In [61]:
# show menu_items table and its properties
cursor.execute('DESCRIBE MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

('ItemID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Name', 'varchar(200)', 'YES', '', None, '')
('Type', 'varchar(100)', 'YES', '', None, '')
('Price', 'int', 'YES', '', None, '')

In [62]:
# select all data from MenuItems table
cursor.execute('SELECT * FROM MenuItems')
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(6, 'Hummus', 'Starters', 5)
(7, 'Greek salad', 'Main Courses', 15)
(8, 'Bean soup', 'Main Courses', 12)
(9, 'Pizza', 'Main Courses', 15)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(12, 'Cheesecake', 'Desserts', 4)
(13, 'Athens White wine', 'Drinks', 25)
(14, 'Corfu Red Wine', 'Drinks', 30)
(15, 'Turkish Coffee', 'Drinks', 10)
(16, 'Turkish Coffee', 'Drinks', 10)
(17, 'Kabasa', 'Main Courses', 17)